.logo-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 35px;
    margin-right: 10px;
}

.nav-title {
    font-size: 25px;
}

#user-dropdown {
    margin-right: 20px;
}

.dropdown-title {
    font-size: 25px;
}