.light {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, transparent 80%);
}

:root {
    --main-color: #6d54b5;
    --main-color-very-light: #a080ff;
    --main-color-light: #7f62d5;
    --main-color-dark: #5c479a;
}